<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<EM_Em0121settings>
			<version>0.1.0</version>
		</EM_Em0121settings>
	</modules>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<em0121>
											<title>EM0121 Titanyshop Settings Module</title>
										</em0121>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0121settings>
					<file>em0121settings.xml</file>
				</em0121settings>
			</updates>
		</layout>
		<menu>
			<emthemes translate="title">
				<title>EMThemes</title>
				<sort_order>72</sort_order>
				<children>
					<em0121_setting module="em0121settings" translate="title">
						<title>EM0121 Settings</title>
						<sort_order>10</sort_order>
						<action>adminhtml/system_config/edit/section/em0121/</action>
					</em0121_setting>
					<help module="em0121settings" translate="title">
						<title>Help &amp; Support</title>
						<sort_order>200</sort_order>
						<children>
							<em0121_userguide module="em0121settings" translate="title">
								<title>Em0121 Titanyshop User Guide</title>
								<sort_order>10</sort_order>
								<action>adminhtml/em0121settings_link/userguide/</action>
							</em0121_userguide>
							<forum module="em0121settings" translate="title">
								<title>Request installation</title>
								<sort_order>20</sort_order>
								<action>adminhtml/em0121settings_link/requestinstallation/</action>
							</forum>
							<ticket module="em0121settings" translate="title">
								<title>Technical support</title>
								<sort_order>30</sort_order>
								<action>adminhtml/em0121settings_link/technicalsupport/</action>
							</ticket>
							<contact_us module="em0121settings" translate="title">
								<title>Contact Us</title>
								<sort_order>30</sort_order>
								<action>adminhtml/em0121settings_link/contactus/</action>
							</contact_us>
							<!--em0121_sample_data module="em0121settings" translate="title">
                                <title>EM Titanyshop Sample Data</title>
                                <sort_order>50</sort_order>
                                <action>adminhtml/em0121settings_theme/export/</action>
                            </em0121_sample_data-->
						</children>
					</help>
				</children>
			</emthemes>
		</menu>
	</adminhtml>
	<frontend>
		<routers>
			<em0121settings>
				<use>standard</use>
				<args>
					<module>EM_Em0121settings</module>
					<frontName>em0121settings</frontName>
				</args>
			</em0121settings>
		</routers>
		<layout>
			<updates>
				<em0121settings>
					<file>em0121settings.xml</file>
				</em0121settings>
			</updates>
		</layout>
		<events>
			<controller_action_layout_generate_xml_before>
				<observers>
					<themeframework_change_layout>
						<type>singleton</type>
						<class>EM_Em0121settings_Model_Observer</class>
						<method>changeLayoutEvent</method>
					</themeframework_change_layout>
				</observers>
			</controller_action_layout_generate_xml_before>
			<controller_action_layout_generate_blocks_before>
				<observers>
					<em0121_config_after_save>
						<class>EM_Em0121settings_Model_Observer</class>
						<method>beforeGenerateBlocks</method>
					</em0121_config_after_save>
				</observers>
			</controller_action_layout_generate_blocks_before>
			<catalog_product_collection_load_before>
				<observers>
					<em0121settings>
						<class>EM_Em0121settings_Model_Observer</class>
						<method>beforeCatalogProductCollectionLoad</method>
					</em0121settings>
				</observers>
			</catalog_product_collection_load_before>
		</events>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<em0121settings before="Mage_Adminhtml">EM_Em0121settings_Adminhtml</em0121settings>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Em0121settings>
							<title>em0121settings Module</title>
							<sort_order>10</sort_order>
						</EM_Em0121settings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0121settings>
					<file>em0121settings.xml</file>
				</em0121settings>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<blocks>
			<tag>
				<rewrite>
					<popular>EM_Em0121settings_Block_Popular</popular>
				</rewrite>
			</tag>
		</blocks>
		<models>
			<em0121settings>
				<class>EM_Em0121settings_Model</class>
				<resourceModel>em0121settings_mysql4</resourceModel>
			</em0121settings>
			<em0121settings_mysql4>
				<class>EM_Em0121settings_Model_Mysql4</class>
				<entities>
					<em0121settings>
						<table>em0121settings</table>
					</em0121settings>
					<megamenupro>
						<table>megamenupro</table>
					</megamenupro>
					<media>
						<table>em_slideshow2_media</table>
					</media>
					<slider>
						<table>em_slideshow2_slider</table>
					</slider>
				</entities>
			</em0121settings_mysql4>
		</models>
		<resources>
			<em0121settings_setup>
				<setup>
					<module>EM_Em0121settings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</em0121settings_setup>
			<em0121settings_write>
				<connection>
					<use>core_write</use>
				</connection>
			</em0121settings_write>
			<em0121settings_read>
				<connection>
					<use>core_read</use>
				</connection>
			</em0121settings_read>
		</resources>
		<blocks>
			<em0121settings>
				<class>EM_Em0121settings_Block</class>
			</em0121settings>
		</blocks>
		<helpers>
			<em0121settings>
				<class>EM_Em0121settings_Helper</class>
			</em0121settings>
		</helpers>
	</global>
	<default>
		<em0121>
			<general>
                <disable_responsive>0</disable_responsive>
				<disable_default_nav>0</disable_default_nav>
				<disable_default_leftnav>0</disable_default_leftnav>
				<freezed_top_menu>1</freezed_top_menu>
				<disable_frontend_variation>0</disable_frontend_variation>
				<disable_footer_links>1</disable_footer_links>
				<disable_social>0</disable_social>
                <wideslide_full>1</wideslide_full>
				<box_wide>wide</box_wide>
				<disable_animate_loading>0</disable_animate_loading>
				<animate_header>fadeInDown</animate_header>
				<animate_left>fadeInDown</animate_left>
				<animate_right>fadeInDown</animate_right>
				<animate_main>fadeInDown</animate_main>
				<animate_footer>fadeInDown</animate_footer>
			</general>
			<typography>
                <google_fonts>Open Sans</google_fonts>
                <google_fonts_weights>100,200,300,400,500,600,700,800</google_fonts_weights>
            </typography>
			<products_grid>
				<width>200</width>
				<height />
				<gutter>13</gutter>
				<imagewidth>200</imagewidth>
				<imageheight>255</imageheight>
				<show_product_name>1</show_product_name>
				<show_sku>1</show_sku>
				<show_thumbnail>1</show_thumbnail>
				<show_desc>0</show_desc>
				<show_price>1</show_price>
				<show_reviews>1</show_reviews>
				<show_addtocart>1</show_addtocart>
				<show_addto>1</show_addto>
				<show_label>1</show_label>
			</products_grid>
			<products_list>
				<width>190</width>
				<height>240</height>
				<gutter />
				<show_product_name>1</show_product_name>
				<show_sku>1</show_sku>
				<show_thumbnail>1</show_thumbnail>
				<show_desc>1</show_desc>
				<show_price>1</show_price>
				<show_reviews>1</show_reviews>
				<show_addtocart>1</show_addtocart>
				<show_addto>1</show_addto>
				<show_label>1</show_label>
			</products_list>
			<image_product>
				<base_image_width>380</base_image_width>
				<base_image_height>380</base_image_height>
				<thumb_base_width>120</thumb_base_width>
				<thumb_base_height>120</thumb_base_height>
				<viewmode>cloudzoom</viewmode>
				<cloud_zoom_width />
				<cloud_zoom_height />
				<use_tabs>1</use_tabs>
                <disable_social>1</disable_social>
                <buttons>twitter,facebook,digg,pinterest</buttons>
			</image_product>
			<related>
				<width>200</width>
				<height>255</height>
			</related>
			<crosssell>
				<width>200</width>
				<height></height>
				<gutter />
                <imagewidth>200</imagewidth>
                <imageheight>255</imageheight>
			</crosssell>
			<upsell>
				<width>200</width>
				<height />
				<gutter />
                <imagewidth>200</imagewidth>
                <imageheight>255</imageheight>
			</upsell>
			<image_sidebar>
				<sidebar_width>105</sidebar_width>
				<sidebar_height>135</sidebar_height>
			</image_sidebar>
			<image_shopping_cart>
				<width>105</width>
				<height>135</height>
			</image_shopping_cart>
			<sidebar>
				<list>catalog_search_layer,catalog_leftnav,catalog_shopby,compare,sidebar_bestseller,poll,popular_tags,callout_cate,wishlist_sidebar,reorder_sidebar</list>
				<block_data>
					<catalog_search_layer>
						<type>layerednavigation/search_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before />
						<handles>catalogsearch_result_index</handles>
					</catalog_search_layer>
					<catalog_leftnav>
						<type>catalog/navigation</type>
						<name>catalog.leftnav</name>
						<template>catalog/navigation/left.phtml</template>
						<before />
						<handles>catalog_category_default</handles>
					</catalog_leftnav>
					<catalog_shopby>
						<type>layerednavigation/catalog_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalog_category_layered</handles>
					</catalog_shopby>
					<compare>
						<type>catalog/product_compare_sidebar</type>
						<name>em.catalog.compare.sidebar</name>
						<template>catalog/product/compare/sidebar.phtml</template>
						<before />
					</compare>
					<sidebar_bestseller>
						<type>cms/block</type>
						<name>em.em0121_area_sidebar_bestseller</name>
						<action>method:setBlockId?block_id:em0121_area_sidebar_bestseller</action>
						<after>em.catalog.compare.sidebar</after>
					</sidebar_bestseller>
					<poll>
						<type>poll/activePoll</type>
						<name>em.poll_sidebar</name>
						<action>method:setPollTemplate?template:poll/active.phtml,type:poll|method:setPollTemplate?template:poll/result.phtml,type:results</action>
						<after>em.em0121_area_sidebar_bestseller</after>
					</poll>
					<popular_tags>
						<type>tag/popular</type>
						<name>em.tags_popular</name>
						<template>tag/popular.phtml</template>
						<after>em.poll_sidebar</after>
					</popular_tags>
					<callout_cate>
						<type>cms/block</type>
						<name>em.em0121_area_sidebar_banner</name>
						<action>method:setBlockId?block_id:em0121_area_sidebar_banner</action>
						<after>em.tags_popular</after>
					</callout_cate>
					<wishlist_sidebar>
						<type>wishlist/customer_sidebar</type>
						<name>em.wishlist_sidebar</name>
						<as>wishlist</as>
						<template>wishlist/sidebar.phtml</template>
						<after>em.tags_popular</after>
					</wishlist_sidebar>
					<reorder_sidebar>
						<type>sales/reorder_sidebar</type>
						<name>em.sale.reorder.sidebar</name>
						<as>reorder</as>
						<template>sales/reorder/sidebar.phtml</template>
						<handles>customer_account,customer_logged_in</handles>
					</reorder_sidebar>
				</block_data>
			</sidebar>
			<position>
				<catalog_shopby>left</catalog_shopby>
				<catalog_leftnav>left</catalog_leftnav>
				<catalog_search_layer>left</catalog_search_layer>
				<compare>all</compare>
				<sidebar_bestseller>left</sidebar_bestseller>
				<callout_cate>left</callout_cate>
				<poll>all</poll>
				<popular_tags>left</popular_tags>
				<wishlist_sidebar>all</wishlist_sidebar>
				<reorder_sidebar>right</reorder_sidebar>
			</position>
			<flashtag>
				<enabled>0</enabled>
				<count>100</count>
				<back>#ffffff</back>
				<max>20</max>
				<min>12</min>
				<maxcolor>#646464</maxcolor>
				<normal>#646464</normal>
				<hover>#646464</hover>
				<speed>1000</speed>
			</flashtag>
            <ajaxcart>
				<auto_close>5</auto_close>
			</ajaxcart>
		</em0121>
	</default>
</config>