<?xml version="1.0"?>
<config>
    <modules>
        <EM_Saleproducts>
            <version>0.1.0</version>
        </EM_Saleproducts>
    </modules>
    <frontend>
        <routers>
            <saleproducts>
                <use>standard</use>
                <args>
                    <module>EM_Saleproducts</module>
                    <frontName>saleproducts</frontName>
                </args>
            </saleproducts>
        </routers>
        <layout>
            <updates>
                <saleproducts>
                    <file>saleproducts.xml</file>
                </saleproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<saleproducts>
				<use>admin</use>
				<args>
					<module>EM_Saleproducts</module>
					<frontName>saleproducts</frontName>
				</args>
			</saleproducts>
        </routers>
    </admin>
     
    <global>
        <models>
            <saleproducts>
                <class>EM_Saleproducts_Model</class>
            </saleproducts>
        </models>
        <blocks>
            <saleproducts>
                <class>EM_Saleproducts_Block</class>
            </saleproducts>
        </blocks>
        <helpers>
            <saleproducts>
                <class>EM_Saleproducts_Helper</class>
            </saleproducts>
        </helpers>
    </global>
</config>